<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {{ partial "private/tracking_code.html" . }}

  {{ partial "head/resource-hints.html" . }}
  {{ partial "head/seo.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_start.html" . }}

  {{ partial "head/stylesheets.html" . }}

  {{ partial "head/dark-mode.html" . }}

  {{ partial "head/favicons.html" . }}


  <!-- Extensibility -->
  {{ partial "head/head_end.html" . }}

  {{ if or .Params.math .Site.Params.math }}
  {{ partial "math.html" . }}
  {{ end }}

  <!-- Embed d3.js and plotly.js if plotly:true -->
  {{ if .Params.plotly }}
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
  {{ end }}

</head>
